.icon {
  position: relative;
  width: 32px;
  height: 32px;
}
.brandname {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.slogan {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 140%;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 248px;
}
.listHeading {
  font-weight: 600;
  color: var(--color-gray-200);
}
.listHeading,
.listLinkItem {
  position: relative;
  line-height: 150%;
}
.content,
.links,
.list {
  display: flex;
  align-items: flex-start;
}
.list {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 108px;
}
.content,
.links {
  flex-direction: row;
  flex-wrap: wrap;
}
.links {
  flex: 1;
  justify-content: flex-end;
  gap: var(--gap-21xl);
  min-width: 280px;
  color: var(--color-dimgray);
}
.content {
  width: 100%;
  justify-content: space-between;
  max-width: 1200px;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro);
  height: 1px;
}
.copyright {
  position: relative;
  line-height: 160%;
}
.legals,
.list3,
.typemegaMenuDivider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list3 {
  width: 612px;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.legals,
.typemegaMenuDivider {
  align-self: stretch;
  justify-content: space-between;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.typemegaMenuDivider {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-13xl);
  gap: var(--gap-13xl);
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
